# dependencies
/node_modules
/.pnp
.pnp.js

# next
/.next
/out
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env
.env
.env*.local

# database (sqlite)
/prisma/*.db
/prisma/*.db-journal
/prisma/dev.db*

# typescript
*.tsbuildinfo

# dev mail outbox
/.mailbox

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
